
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
  background-color: $white;
  max-width: 1460px;
}

#header-image img {
  max-width: 100%;
  height: auto;
}